			{% extends "CuichetteLandwebsiteBundle::layout.html.twig" %}
			{% block body %}
			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Les {{categorie}}s Cuichettes</h2>
						</header>

						<!-- Text -->
							<section>

								{% set compteur = 0 %}
								{% for product in products %}
								<header>
									<h3>{{names[compteur][0]['nom']}}</h3>
								</header>
								<p><div class="2u  3u$(xsmall)" style="margin: 10px; float: left;"><span class="image fit"><img src="/images/cuichettes/{{images[compteur][0]['nomImage']}}" alt="images/pic04.jpg" /></span></div>
								<p>{{description[compteur][0]['description']}}</p>
								<div class="row">
									
									<div class="6u$ 12u$(xsmall)">
										<ul class="actions fit small">
											<li><a href="/article/{{product["id"]}}" class="button special  small">Plus de détails</a></li>
										</ul>
									</div>
								</div>
								
								<hr />
								{% set compteur = compteur + 1 %}
								{% endfor %}
								

					</div>
				</div>
	{% endblock %}