<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Cuichette Land</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Accueil</a></li>
							<li>
								<a href="">Accéder au magasin</a>
								<ul>
								{% for categorie in categories %}
									<li><a href="">{{categorie["categorie"]}}</a></li>
								{% endfor %}
								</ul>
							</li>
							<li><a href="elements.html.twig">Messagerie</a></li>
							<li><a class="button">{{user.account}}€</a></li>
							<li><a href="/panier">Panier</a></li>
							<li><a href="#" class="button special">Se connecter</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Bienvenue sur Cuichette Land!!</h2>
							<p>Ici, vous pourrez acheter des cuichettes pour vos pique-niques<br />
							Mais pas que!!</p>
						</header>
						<span class="image"><img src="images/pic01.jpg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/pic02.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>Nous vous proposons le meilleur de la cuichette depuis 1942</h2>
										<p>Notre maison entretiens un savoir-faire inégalé depuis sa création.</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>Nous sommes les leaders sur le marché de la cuichette depuis 10 ans, nous proposons différentes tailles de cuichette ainsi que différentes couleurs.</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>Tous nos produits sont disponibles sur notre boutique en ligne, nos produits phare sont proposés directement sur la page principale mais n'hésitez pas à parcourir les différentes catégories.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" >
												
					<div class="content">
						
						<ul class="actions" style="float: left">
						<header>
							<h2>Les grandes cuichettes</h2>
							<p>Idéal pour la maison et les grands repas</p>
						</header>
							<li><a href="#" class="button">Accéder à la section</a></li>
						</ul>
									<div>
										<div class="2u  3u$(xsmall)" style="margin: 10px; float: left;"><span class="image fit"><img src="images/cuichettes/{{names[0][0][0]["nomImage"]}}" alt="images/pic04.jpg" /></span></div>
										<div class="2u  3u(xsmall)" style="margin: 10px; float: left;"><span class="image fit"><img src="images/cuichettes/{{names[0][1][0]["nomImage"]}}" alt="images/pic04.jpg" /></span></div>
										<div class="2u$ 3u$(xsmall)" style="margin: 10px; float: left;"><span class="image fit"><img src="images/cuichettes/{{names[0][2][0]["nomImage"]}}" alt="images/pic04.jpg" /></span></div>
									</div>
					</div>
									<br/><br/><br/><br/><br/><br/><br/><br/><br/>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three">
					<div class="content">
						
						
									<div>
										<div class="2u  3u$(xsmall)" style="margin: 10px; float: left;"><span class="image fit"><img src="images/cuichettes/{{names[1][0][0]["nomImage"]}}" alt="images/pic04.jpg" /></span></div>
										<div class="2u  3u(xsmall)" style="margin: 10px; float: left;"><span class="image fit"><img src="images/cuichettes/{{names[1][1][0]["nomImage"]}}" alt="images/pic04.jpg" /></span></div>
										<div class="2u$ 3u$(xsmall)" style="margin: 10px; float: left;"><span class="image fit"><img src="images/cuichettes/{{names[1][2][0]["nomImage"]}}" alt="images/pic04.jpg" /></span></div>
									</div>
									<ul class="actions" style="float: left">
						<header>
							<h2>Les petites cuichettes</h2>	
							<p>Pour tous vos piques-niques</p>
						</header>
							<li><a href="#" class="button">Accéder à la section</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
					<br/><br/><br/><br/><br/><br/><br/><br/>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; LaTeam coorp All rights reserved.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>