<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Cuichette Land</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

		
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Accueil</a></li>
							<li>
								<a href="">Accéder au magasin</a>
								<ul>
								{% for categorie in categories %}
									<li><a href="">{{categorie["categorie"]}}</a></li>
								{% endfor %}
								</ul>
							</li>
							<li><a href="elements.html.twig">Messagerie</a></li>
							{% if user == "anon." %}
							<li><a href="/login" class="button special">Login</a></li>
							<li><a href="/register" class="button special">Register</a></li>
							{% else %}
							<li><a class="button">{{user.account}}€</a></li>
							<li><a href="/panier">Panier</a></li>
							<li><a href="/logout" class="button special">{{user.prenom}} - Se deconnecter</a></li>
							{% endif %}
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Nom</th>
												<th>Quantité</th>
												<th>Prix total</th>
												<th>Annuler</th>
											</tr>
										</thead>
										<tbody>
										{% for achat in achats %}
											<tr>
												<td>{{achat[0]}}</td>
												<td>{{achat[1]}}</td>
												<td>{{achat[2]}}€</td>
												<td><a href="/delete/{{achat[3]}}" class="button special small">X</a></td>
											</tr>
											{% endfor %}
										</tbody>
										<tfoot>
											<tr>
												<td colspan="2"></td>
												<td>A régler : {{somme}}€</td>
											</tr>
										</tfoot>
									</table>
									{{ form(form) }}
							{% if error %}
							<div class="button special fit">Solde insuffisant</div>
							{% endif %}
								</div>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>



			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; LaTeam coorp All rights reserved.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>