		{% extends "CuichetteLandwebsiteBundle::layout.html.twig" %}
			{% block body %}
			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Nom</th>
												<th>Quantité</th>
												<th>Prix total</th>
												<th>Annuler</th>
											</tr>
										</thead>
										<tbody>
										{% for achat in achats %}
											<tr>
												<td>{{achat[0]}}</td>
												<td>{{achat[1]}}</td>
												<td>{{achat[2]}}€</td>
												<td><a href="/delete/{{achat[3]}}" class="button special small">X</a></td>
											</tr>
											{% endfor %}
										</tbody>
										<tfoot>
											<tr>
												<td colspan="2"></td>
												<td>A régler : {{somme}}€</td>
											</tr>
										</tfoot>
									</table>
									{{ form(form) }}
							{% if error %}
							<div class="button special fit">Solde insuffisant</div>
							{% endif %}
								</div>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

{% endblock %}