<div>=======Produit============</div>
<div>Nom article : {{produit.nom}}</div>
<div> Prix : {{produit.prix}}€</div>
<div> Quantité : {{produit.quantite}}</div>
<div>==============================</div>
<div>=======Utilisateur============</div>
<div>Nom utilisateur {{user.nom}}</div>
<div>Prénom : {{user.prenom}}</div>
<div>Balance : {{user.account}}</div>
<div>==============================</div>
<div>=======Formulaire============</div>
<div> Compte: {{user.account}}</div>
<div>{{ form(form) }} </div>
<div>==============================</div>

