		{% extends "CuichetteLandwebsiteBundle::layout.html.twig" %}
			{% block body %}
			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<div class="table-wrapper">
						<a href="/newmessage" class="button special small">Nouveau message</a>
						<br/><br/><br/><br/>
									<table>
										<thead>
											<tr>
												<th>Expediteur</th>
												<th>Date</th>
												<th>Objet</th>
												<th>Supprimer</th>
											</tr>
										</thead>
										<tbody>
											{% for email in emails %}
											<tr>
												<td>{{email[0]["mail"]}}</td>
												<td>{{email[1]|date('Y-m-d')}}</td>
												<td><a href="/message/{{email[3]}}">{{email[2]}}</a></td>
												<td><a href="/message/delete/{{email[3]}}" class="button special small">X</a></td>
											</tr>
											{% endfor %}
										</tbody>

									</table>

								</div>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>
		{% endblock %}